.card {
 background-color: #00005f;
 border-radius: 0.5em;
 box-shadow: 2px 2px 5px #56c6f6;
 /* font-size: 12px; */
 min-height: 60px;
 overflow: auto;
 padding: 15px;
}

.card-header {
 border-bottom: #b9b6b6 solid thin;
 color: #fff;
 font-size: 2em;
 font-weight: 900;
 line-height: 2em;
 text-align: center;
}

.card-title {
 color: #fff;
 font-size: 1.5em;
 padding: 10px;
}

.card-block {
 color: #fff;
 font-size: 1em;
 margin-left: 5em !important;
}
