/**
* set-apart.css
*/

@font-face {
 font-family: cascadiaCode;
 src: url(./font/CascadiaCode.woff2);
}

body {
 background-color: #0000ff;
 color: #ffffff;
 font-family: cascadiaCode, Arial, Helvetica, sans-serif;
 font-size: 16px;
 margin-left: auto;
 margin-right: auto;
 width: 75%;
}

.a25 {
 border-bottom: none;
 vertical-align: top;
 width: 25%;
}

.button-1 {
 background-image: linear-gradient(#0dccea, #0d70ea);
 border: 0;
 border-radius: 4px;
 box-shadow: #0000004d 0 5px 15px;
 box-sizing: border-box;
 color: #fff;
 cursor: pointer;
 font-family: cascadiaCode, Arial, Helvetica, sans-serif;
 font-size: 0.9em;
 margin: 5px;
 padding: 10px 15px;
 text-align: center;
 -ms-user-select: none;
 -webkit-user-select: none;
 user-select: none;
 touch-action: manipulation;
}

.button-1:hover {
 color: #ffff00;
}

.button-2 {
 background-image: linear-gradient(#0dccea, #0d70ea);
 border: 0;
 border-radius: 4px;
 box-shadow: #0000004d 0 5px 15px;
 box-sizing: border-box;
 color: #fff;
 cursor: pointer;
 font-family: cascadiaCode, Arial, Helvetica, sans-serif;
 font-size: 0.9em;
 margin: 1px;
 padding: 2px 4px;
 text-align: center;
 -ms-user-select: none;
 -webkit-user-select: none;
 user-select: none;
 touch-action: manipulation;
}

.button-2:hover {
 color: #ffff00;
}

.card {
 background-color: #00005f;
 border-radius: 0.5em;
 box-shadow: 2px 2px 5px #56c6f6;
 /* font-size: 12px; */
 min-height: 60px;
 overflow: auto;
 padding: 15px;
}

.card-header {
 border-bottom: #b9b6b6 solid thin;
 color: #fff;
 font-size: 2em;
 font-weight: 900;
 line-height: 2em;
 text-align: center;
}

.card-title {
 color: #fff;
 font-size: 1.5em;
 padding: 10px;
}

.card-block {
 color: #fff;
 font-size: 1em;
 margin-left: 5em !important;
}

input {
 border-radius: 5px;
 font-size: 14px;
 font-weight: bold;
 padding: 2px;
}

table {
 border-collapse: collapse;
 margin-left: auto;
 margin-right: auto;
 width: 100%;
}

td {
 border-bottom: #f0f0f0 solid thin;
 vertical-align: top;
}

.center {
 text-align: center;
}

.right {
 text-align: right;
}

.strikeThrough {
 text-decoration: line-through;
}

/*
.orangeText {
 color: #ffa500;
}
*/

.yellowText {
 color: #ffff00;
}

.yellowTextBold {
 color: #ffff00;
 font-weight: 800;
}

.whiteText {
 color: #ffffff;
}
